# i.e. https://jasonstitt.com/gitignore-whitelisting-patterns
# Ignore everything in the root
/*

# Allow files and folders with a pattern starting with !
!*.go
!.gitignore
!.gitlab-ci.yml
!/pkg/
!LICENSE
!Makefile
!README.md
!go.mod
!go.sum
